$violetdark-one: #280D22;
$violetdark-two: #300F27;
$violetdark-three: #35162E;
$violetdark-four: #3A1631;

$violetlight-one: #491C3A;
$violetlight-two: #512547;
$violetlight-three: #66305C;
$violetlight-four: #B77DAF;

$lightercolor-one: #FAF3CB;
$lightercolor-two: #F2EFDF;


section {
.button1 {
    display: inline-block;
    padding: 0.9rem 1.125rem 0.9rem 1.125rem; 
    font: 700 1.5rem "Raleway", sans-serif;
    text-decoration: none;
    transition: all 0.2s;
    margin-top: 20px;
    margin-bottom: 35px;
    letter-spacing: 1.5px;
    
    :hover {
        background-color: #EFCAE9;
        border-color: 0.125rem solid #AF5DA0;
        border-radius: 0.7rem;
    }}

}






  
