<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">

<!-- Website Title -->
  <title>Nuestros libros</title>

<!-- Styles -->
<link rel="stylesheet" type="text/css" href="../assets/styles.css">


</head>
<body>
<div class="colorbackgroundclaro">
 <!-- Image Logo -->
 <div class="colornavbar">
        <a href="../index.html">
        <img class="logo-imagen" src="../image/logoblanco.png" alt="Ladoctaignorancia">
        </a>
    </div>

 <!-- Nuestros Libros -->
 
 
<h1 class="coloroscuro" align="center"><strong>. Nuestros Libros digotales .</strong></h1>
    <br>

<h1>Este texto esta en h1</h1>
<h2 class="coloroscuro">Este texto esta en h2</h2>
<h3>Este texto esta en h3</h3>
<h4>Este texto esta en h4</h4>
<h5>Este texto esta en h5</h5>
<h6>Este texto esta en h6</h6>
<p>Este texto forma parte de un parrafo</p>






    </div>
</body>